{% extends 'base.html' %}
{% block title %} Fotógrafos eliminados {% endblock %}

{% block content %}
<h2 class="info-title"> Fotógrafos eliminados </h2>

<div class="container my-4">
    {% if photographers %}
        {% for photographer in photographers %}
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li><strong>ID: </strong>{{ photographer.id }}</li>
                        <li><strong>Nombre: </strong>{{ photographer.name }}</li>
                        <li><strong>Activo: </strong>{{ "Sí" if photographer.is_alive else "No" }}</li>
                        <li><strong>Género: </strong>{{ photographer.genre.value }}</li>
                        <li><strong>Nacionalidad: </strong>{{ photographer.nationality.value }}</li>
                        <li><strong>Estilo fotográfico: </strong>{{ photographer.photographic_style_name.value }}</li>
                        <li><strong>Registrado en: </strong>{{ photographer.created_at }}</li>
                        <li><strong>Última modificación: </strong>{{ photographer.updated_at }}</li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <div class="photographers">
                        <img src="{{photographer.photographer_image_path}}" alt="foto-fotógrafo">
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center mx-auto w-50" role="alert">
            <i class="bi bi-exclamation-circle-fill me-2" style="font-size: 1.5rem;"></i>
            <span class="text-center">No hay fotógrafos eliminados.</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
</div>

<a type="button" class="btn-minimal" href="/web/all_photographers"> ← Regresar </a>
{% endblock %}