<footer>

    <div class="icono-redes">

        <a href="https://instagram.com/milenanrzz" target="_blank">
            <i class="bi bi-instagram"></i>
        </a>

        <a href="https://x.com/milenanrzz" target="_blank">
            <i class="bi bi-twitter-x"></i>
        </a>

        <a href="https://github.com/milenanrz" target="_blank">
            <i class="bi bi-github"></i>
        </a>

    </div>

    <div>
        <p> Proyecto Desarrollo de Software sobre Fotografía - FastAPI + HTML</p>
        <p> &copy; 2025 Milena Narvaez </p>
    </div>
</footer>