<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/web" ><img src="/images/photographic_images/logo.png" alt="logo" width="110" height="100"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="nav nav-tabs">

        <div class="dropdown-center">
          <button class="nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Información
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/web/info#historia">Historia de la fotografía </a></li>
            <li><a class="dropdown-item" href="/web/info#tecnicas"> Técnicas fotográficas </a></li>
            <li><a class="dropdown-item" href="/web/info#conceptos">Conceptos</a></li>
            <li><a class="dropdown-item" href="/web/info#noticia">Noticias</a></li>
          </ul>
        </div>

        <div class="dropdown-center">
          <button class="nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Fotógrafos
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/web/new_photographer">Agregar fotógrafo </a></li>
            <li><a class="dropdown-item" href="/web/all_photographers">Mostrar fotógrafos</a>
            <li><a class="dropdown-item" href="/web/update_photographer">Modificar fotógrafo</a></li>
            <li><a class="dropdown-item" href="/web/photographer_deleted">Ver eliminados</a></li>
            <li><a class="dropdown-item" href="/web/search_photographer_by_ID">Buscar fotógrafo por ID</a></li>
            <li><a class="dropdown-item" href="/web/search_photographer">Filtro</a></li>
          </ul>
        </div>

        <div class="dropdown-center">
          <button class="nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Fotografías
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/web/new_photo"> Agregar fotografía </a></li>
            <li><a class="dropdown-item" href="/web/all_photos">Mostrar fotografías</a></li>
            <li><a class="dropdown-item" href="/web/update_photo">Modificar fotografía</a></li>
            <li><a class="dropdown-item" href="/web/photo_deleted">Ver eliminados</a></li>
            <li><a class="dropdown-item" href="/web/search_photo_by_ID">Buscar fotografía por ID</a></li>
            <li><a class="dropdown-item" href="/web/search_photo_by_category">Filtro</a></li>
          </ul>
        </div>

        <li class="nav-item">
          <a class="nav-link" href="/web/planeacion">Planeación</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/web/diseño">Diseño</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/web/creador">Creador</a>
        </li>

      </ul>
    </div>
  </div>
</nav>