{% extends 'base.html' %}
{% block title %} Creador {% endblock %}
{% block content %}

<h2 class="info-title">Sobre el creador</h2>

<div class="container-creador">

    <div class="card" style="height: 45rem;">
        <img src="/images/photographic_images/creador.jpg" alt="Milena" class="foto-creador">
        <div class="card-body">
            <p class="card-text">Hola, soy <strong>Milena Narvaez</strong>, estudiante de Ingeniería de Sistemas y Computación
                en la Universidad Católica de Colombia y soy la creadora de este sitio web.
                Este proyecto fue realizado como parte de una iniciativa educativa para compartir información útil.
            </p>
            <p>Me apasiona la fotografía, suelo tomar fotos de arquitecturas, de paisajes y de la naturaleza. A continuación,
                se observa algunas fotografías que he tomado y puedes consultar en este
                <a href="https://lmnarvaez64.wixsite.com/portafolio-de-fotogr" style="color: #600000;" target="_blank"><strong>sitio web</strong></a>
                un proyecto de una clase de fotografía que cursé en la universidad.
            </p>

            <h5><strong>Contacto</strong></h5>
            <i class="bi bi-envelope"> narvaezmilena084@gmail.com</i>
            <div class="redes-creador">
                <a href="https://instagram.com/milenanrzz" target="_blank">
                    <i class="bi bi-instagram"></i>
                </a>

                <a href="https://x.com/milenanrzz" target="_blank" >
                    <i class="bi bi-twitter-x"></i>
                </a>

                <a href="https://github.com/milenanrz" target="_blank">
                    <i class="bi bi-github"></i>
                </a>
            </div>

        </div>
    </div>


    <div class="my-portfolio">

        <img src="/images/photographic_images/portfolio1.jpg" class="card-img-top" alt="portfolio1">
        <img src="/images/photographic_images/portfolio2.jpg" class="card-img-top" alt="portfolio2">
        <img src="/images/photographic_images/portfolio3.jpg" class="card-img-top" alt="portfolio3">
        <img src="/images/photographic_images/portfolio4.jpg" class="card-img-top" alt="portfolio4">
        <img src="/images/photographic_images/portfolio10.jpg" class="card-img-top" alt="portfolio10">
        <img src="/images/photographic_images/portfolio6.jpg" class="card-img-top" alt="portfolio6">
        <img src="/images/photographic_images/portfolio7.jpg" class="card-img-top" alt="portfolio7">
        <img src="/images/photographic_images/portfolio11.jpg" class="card-img-top" alt="portfolio11">
        <img src="/images/photographic_images/portfolio9.jpg" class="card-img-top" alt="portfolio9">
        <img src="/images/photographic_images/portfolio5.jpg" class="card-img-top" alt="portfolio5">
        <img src="/images/photographic_images/portfolio8.jpg" class="card-img-top" alt="portfolio8">
        <img src="/images/photographic_images/portfolio12.jpg" class="card-img-top" alt="portfolio12">
        <img src="/images/photographic_images/portfolio13.jpg" class="card-img-top" alt="portfolio13">
        <img src="/images/photographic_images/portfolio14.jpg" class="card-img-top" alt="portfolio14">
        <img src="/images/photographic_images/portfolio15.jpg" class="card-img-top" alt="portfolio15">
        <img src="/images/photographic_images/portfolio16.jpg" class="card-img-top" alt="portfolio16">
    </div>
</div>



<hr>

<a type="button" class="btn-minimal" href="/"> ← Regresar </a>

{% endblock %}