{% extends 'base.html' %}
{% block title %} Inicio {% endblock %}
{% block content %}


<div class="inicio" >
    <div class="title-container">
        <h1 class="title-inicio">Hablemos de fotografía</h1>
    </div>

    <div class="contenido">

        <div class="text-container">
            <p class="intro-text">
                Exploraremos la evolución de la fotografía a lo largo del tiempo, destacando
                los hitos históricos más relevantes, los fotógrafos más influyentes y las principales
                técnicas fotográficas, con el fin de comprender su impacto cultural, artístico y
                tecnológico.
            </p>
        </div>
    </div>

</div>


{% endblock %}