{% extends 'base.html' %}

{% block title %} Información {% endblock %}

{% block content %}

<section id="historia" xmlns="http://www.w3.org/1999/html">
<h2 class= "info-title"> Historia de la Fotografía </h2>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">

                <div class="card">
                    <img src="/images/photographic_images/camara.jpg" class="card-img-top" alt="camara">
                    <div class="card-body">
                        <p class="card-text">La fotografía es una forma de arte, documentación y comunicación
                            que ha transformado profundamente la manera en que percibimos y registramos el mundo.</p>
                    </div>
                </div>

            </div>

            <div class="carousel-item">

                <div class="card">
                    <img src="/images/photographic_images/sigloXIX.jpg" class="card-img-top" alt="camara siglo XIX">
                    <div class="card-body">
                        <p class="card-text">Su historia se remonta al siglo XIX, cuando la humanidad logró capturar
                            por primera vez imágenes permanentes a través de procesos químicos y ópticos. Antes de eso,
                            solo era posible reproducir escenas a mano, mediante la pintura o el dibujo.</p>
                    </div>
                </div>

            </div>

            <div class="carousel-item">

                <div class="card">
                    <img src="/images/photographic_images/camara-oscura.jpg" class="card-img-top" alt="camara oscura">
                    <div class="card-body">
                        <p class="card-text">El punto de partida oficial se sitúa en 1826, cuando Joseph Nicéphore
                            Niépce logró obtener la primera fotografía permanente conocida utilizando una cámara oscura
                            y una placa de estaño recubierta con betún de Judea.
                            <a href="https://youtu.be/Kyhljuew_4I?feature=shared" target="_blank" style="color: #8B0000"> Conoce más de la cámara oscura</a>
                        </p>
                    </div>
                </div>

            </div>

            <div class="carousel-item">

                <div class="card">
                    <img src="/images/photographic_images/daguerrotipo.jpg" class="card-img-top" alt="daguerrotipo">
                    <div class="card-body">
                        <p class="card-text">Poco después, Louis Daguerre perfeccionó este proceso con el daguerrotipo, considerado
                            el primer sistema fotográfico comercial viable. Paralelamente, William Henry Fox Talbot desarrolló el
                            calotipo, que introdujo el uso de negativos en papel y permitió múltiples copias de una misma imagen.
                            <a href="https://youtu.be/px_6VFzju3g?feature=shared" target="_blank" style="color: #8B0000"> Conoce más del daguerrotipo</a>
                        </p>
                    </div>
                </div>

            </div>


            <div class="carousel-item">

                <div class="card">
                    <img src="/images/photographic_images/pelicula-fotografica.jpg" class="card-img-top" alt="pelicula fotografica">
                    <div class="card-body">
                        <p class="card-text">A lo largo del tiempo, la fotografía evolucionó desde procesos lentos
                            y complejos hacia métodos más accesibles y versátiles. La invención de la película
                            fotográfica por George Eastman y el surgimiento de Kodak popularizaron la fotografía
                            entre el público general.
                        </p>
                    </div>
                </div>

            </div>

            <div class="carousel-item">

                <div class="card">
                    <img src="/images/photographic_images/camara-compacta.jpg" class="card-img-top" alt="camara compacta">
                    <div class="card-body">
                        <p class="card-text">El siglo XX trajo avances técnicos cruciales como la fotografía en
                            color, cámaras más compactas y el desarrollo de nuevas corrientes artísticas y documentales.
                        </p>
                    </div>
                </div>

            </div>

            <div class="carousel-item">

                <div class="card">
                    <img src="/images/photographic_images/camara-moderna.png" class="card-img-top" alt="camara moderna">
                    <div class="card-body">
                        <p class="card-text">En la actualidad, la fotografía digital domina el panorama, facilitada
                            por cámaras digitales y teléfonos inteligentes, junto con herramientas de edición y
                            plataformas de difusión masiva como redes sociales.
                        </p>
                    </div>
                </div>

            </div>


        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</section>

<section id="tecnicas">
    <h2 class="info-title"> Técnicas Fotográficas </h2>
    <div class="contenedor-flex">

        <div class="card" style="width: 55%; height: 55%; margin: 5px 10px;">
          <div class="card-body">
              <p class="card-text">Las técnicas de fotografía son variadas y se han desarrollado a lo largo del tiempo para
                adaptarse a diferentes propósitos artísticos, documentales o comerciales. Cada técnica puede combinarse con
                otras para lograr resultados creativos o especializados. A continuación, se muestra una clasificación de las
                principales técnicas fotográficas, agrupadas por enfoque o estilo.
              </p>
          </div>
        </div>

        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Según el proceso de captura
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                      <ul>
                          <li><strong>Fotografía analógica:</strong> Utiliza película sensible a la luz. Requiere revelado químico. Es apreciada por su textura y valor artístico.</li>
                          <li><strong>Fotografía digital:</strong> Utiliza sensores electrónicos. Permite visualizar y editar la imagen de inmediato.</li>
                      </ul>

                  </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Según el estilo visual
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">

                        <ul>
                            <li><strong>Blanco y negro:</strong> Enfatiza formas, luces y sombras. Muy usada en fotografía artística, documental y retrato.</li>
                            <li><strong>Color:</strong> Captura la realidad tal como la percibe el ojo humano. Dominante en la fotografía actual.</li>
                            <li><strong>Fotografía infrarroja:</strong> Utiliza longitudes de onda fuera del espectro visible, generando efectos surrealistas.</li>
                            <li><strong>Fotografía HDR (High Dynamic Range):</strong> Combina varias exposiciones para resaltar detalles en sombras y luces</li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Según el propósito o género
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">

                        <ul>
                            <li><strong>Retrato:</strong> Se centra en la expresión, identidad y personalidad de una o más personas.</li>
                            <li><strong>Paisaje:</strong> Captura la belleza de entornos naturales o urbanos.</li>
                            <li><strong>Fotografía documental:</strong> Narra realidades sociales, históricas o culturales.</li>
                            <li><strong>Fotoperiodismo:</strong> Relata hechos noticiosos con impacto visual inmediato.</li>
                            <li><strong>Fotografía callejera:</strong> Captura momentos espontáneos de la vida urbana.</li>
                            <li><strong>Moda:</strong> Combina estética, vestuario y escenografía para resaltar diseños.</li>
                            <li><strong>Macrofotografía:</strong> Muestra detalles muy pequeños (insectos, texturas, flores).</li>
                            <li><strong>Astrofotografía:</strong> Registra cuerpos celestes y fenómenos astronómicos.</li>
                            <li><strong>Fotografía de arquitectura:</strong> Destaca estructuras y espacios construidos.</li>
                        </ul>


                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        Según la técnica de disparo o composición
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">

                        <ul>
                            <li><strong>Larga exposición:</strong> Permite capturar movimiento (como ríos, luces de autos o estrellas).</li>
                            <li><strong>Fotografía con flash:</strong> Usa luz artificial para iluminar la escena o congelar el movimiento.</li>
                            <li><strong>Fotografía de alta velocidad:</strong> Captura objetos en movimiento extremadamente rápido (como una gota cayendo).</li>
                            <li><strong>Panorámica:</strong> Une varias imágenes para mostrar un ángulo amplio.</li>
                            <li><strong>Fotografía aérea/dron:</strong> Captura desde las alturas, útil para paisajes, arquitectura o monitoreo.</li>
                            <li><strong>Técnica bokeh:</strong> Desenfoque estético del fondo para resaltar al sujeto.</li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<section id="conceptos">
    <h2 class="info-title"> Conceptos </h2>

    <button class="btn-minimal" type="button" data-bs-toggle="offcanvas" data-bs-target="#Exposición" aria-controls="Exposición">Exposición</button>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="Exposición" aria-labelledby="ExposiciónLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="ExposiciónLabel">Exposición</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body">
          <p>La exposición determina cuánta luz llega al sensor de la cámara. Está controlada por el diafragma, la velocidad de obturación y el ISO.</p>
          <li><strong>Exposición subexpuesta: </strong>El sensor no recibe suficiente luz</li>
          <li><strong>Exposición sobreexpuesta: </strong>El sensor recibe demasiada luz</li>
          <a href="https://youtu.be/4Ny_rc4aGDw?feature=shared" target="_blank">Aprende más sobre exposición</a>
          <br>
          <img src="/images/photographic_images/exposicion.jpg" class="img-fluid rounded mb-3" alt="ejemplo-exposicion">
      </div>

    </div>

    <button class="btn-minimal" type="button" data-bs-toggle="offcanvas" data-bs-target="#Histograma" aria-controls="Histograma">Histograma</button>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="Histograma" aria-labelledby="HistogramaLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="HistogramaLabel">Histograma</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body">
          <p>Es una herramienta visual súper útil en fotografía para evaluar la exposición de una imagen (si está bien
              expuesta, subexpuesta o sobreexpuesta). Es un gráfico que muestra cómo están distribuidos los niveles de
              brillo (luz) en una foto, desde los más oscuros hasta los más claros.</p>
          <a href="https://youtu.be/m7gIituTbQk?feature=shared" target="_blank">Aprende más sobre el histograma</a>
          <img src="/images/photographic_images/histograma.jpg" class="img-fluid rounded mb-3" alt="ejemplo-histograma">

      </div>

    </div>

    <button class="btn-minimal" type="button" data-bs-toggle="offcanvas" data-bs-target="#Diafragma" aria-controls="Diafragma">Diafragma</button>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="Diafragma" aria-labelledby="DiafragmaLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="DiafragmaLabel">Diafragma</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
          <p>El diafragma controla la cantidad de luz que pasa por el lente hasta el sensor. Además, el
          diafragma se relaciona con la exposición, entre más abierta sea la apertura, más luz entra y entre
          más cerrada sea la apertura, menos luz entra. La apertura se define por una medición conocida como
              <strong>"F-stop"</strong>. </p>
          <a href="https://youtu.be/7pfx9XDTA1Q?feature=shared" target="_blank">Aprende más del diafragma</a>
          <img src="/images/photographic_images/diafragma.jpg" class="img-fluid rounded mb-3" alt="diafragma">
      </div>
    </div>

    <button class="btn-minimal" type="button" data-bs-toggle="offcanvas" data-bs-target="#Velocidad" aria-controls="Velocidad">Velocidad</button>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="Velocidad" aria-labelledby="VelocidadLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="VelocidadLabel">Velocidad</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
          <p>Es el tiempo que el obturador de la cámara permanece abierto dejando pasar luz al sensor y se mide
              en segundos o fracciones de segundo. La velocidad tiene un impacto significativo en la exposición.</p>
          <li><strong>Impacto en la cantidad de luz: </strong>
              <br>→ Si la velocidad es rápida (1/1000) entra poca luz.
              <br>→ Si la velocidad es lenta (1/4 o 2”) entra más luz.
          </li>
          <br>
          <li><strong>Impacto en el movimiento: </strong>
              <br>→ Si la velocidad es rápida congela el movimiento (ideal para deportes, aves en vuelo, etc.).
              <br>→ Si la velocidad es lenta capta el movimiento (ideal para efectos como el agua o estelas de luz).
          </li>
          <br>
          <p>En velocidades lentas se recomienda usar trípode.</p>
          <a href="https://youtu.be/STjNS9YelFE?feature=shared" target="_blank">Aprende más sobre la velocidad de obturación</a>
          <img src="/images/photographic_images/velocidad.jpg" class="img-fluid rounded mb-3" alt="velocidad-de-obturacion">
      </div>
    </div>

    <button class="btn-minimal" type="button" data-bs-toggle="offcanvas" data-bs-target="#ISO" aria-controls="ISO">ISO</button>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="ISO" aria-labelledby="ISOLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="ISOLabel">ISO</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
          <p>El ISO es la sensibilidad del sensor a la luz. A medida que se aumente el ISO la imagen tendrá más
          luz pero afecta a la calidad de la imagen, en cambio, si se disminuye el ISO la imagen tendrá menos
              luz y mayor nitidez.</p>
          <ul><li> Si el ISO es bajo (100 o 200) el sensor es menos sensible y se necesita más luz.</li>
              <li>Si el ISO es alto (1600, 3200 o más) el sensor es más sensible y necesita menos luz.</li></ul>
          <p>El ISO se mide utilizando los <strong>"niveles ISO"</strong></p>
          <a href="https://youtu.be/e5JuJfwAMbA?feature=shared" target="_blank">Aprende más del ISO</a>
          <img src="/images/photographic_images/ISO.jpg" class="img-fluid rounded mb-3" alt="ejemplo-ISO">
      </div>
    </div>

    <button class="btn-minimal" type="button" data-bs-toggle="offcanvas" data-bs-target="#Profundidad" aria-controls="Profundidad">Profundidad de campo</button>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="Profundidad" aria-labelledby="ProfundidadLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="ProfundidadLabel">Profundidad de campo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
          <p>Es el espacio de la imagen que está notablemente nítido y enfocado. Si solo el sujeto está enfocado y
          el fondo está desenfocado tiene <strong>poca profundidad de campo</strong> y si toda la imagen está enfocada
              tiene <strong>mayor profundidad de campo</strong>. Sin embargo, afecta varios factores.</p>
          <ul><li><strong>Diafragma: </strong>Entre mayor sea la apertura, menor profundidad de campo</li>
          <li><strong>Distancia focal: </strong>Entre mayor sea la distancia focal, menor profundidad de campo</li>
              <li><strong>Distancia de enfoque: </strong>Entre más cerca esté el sujeto, menor profundidad de campo</li></ul>
          <img src="/images/photographic_images/profundidad.jpg" class="img-fluid rounded mb-3" alt="ejemplo-profundidad">
      </div>
    </div>

    <button class="btn-minimal" type="button" data-bs-toggle="offcanvas" data-bs-target="#Distancia" aria-controls="Distancia">Distancia focal</button>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="Distancia" aria-labelledby="DistanciaLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="DistanciaLabel">Distancia focal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
          <p>Es la distancia (en milímetros) entre el centro óptico del lente y el sensor de la cámara. Ya sea corta
              o larga la distancia, tendrá un impacto directo al campo de visión y a la profundidad de campo.</p>
          <ul>
              <li><strong>Ángulo de visión (lo que se ve en la foto)</strong>
                  <br>→ Distancia focal corta: Tiene un ángulo amplio, captura más la escena y es ideal para
                    paisajes, arquitectura, etc.
                  <br>→ Distancia focal larga: Tiene un ángulo estrecho, acerca los objetos lejanos, y es ideal
                    para fauna, deportes, etc.
              </li>
              <br>
              <li><strong>Comprensión de la imagen:</strong>
                    <br>→ Con distancias largas, los elementos se ven más cerca del sujeto
                    <br>→ Con distancias largas, hay distorsión.
              </li>
              <br>
              <li><strong>Profundidad de campo:</strong>
                  <br>→ Entre distancia focal larga, menos profundidad (más desenfoque)
                  <br>→ Entre distancia focal corta, más profundidad (más enfoque)
              </li>
          </ul>
          <img src="/images/photographic_images/distancia-focal.jpg" class="img-fluid rounded mb-3" alt="ejemplo-distancia">
      </div>
    </div>

    <button class="btn-minimal" type="button" data-bs-toggle="offcanvas" data-bs-target="#Balance" aria-controls="Balance">Balance de blancos</button>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="Balance" aria-labelledby="BalanceLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="BalanceLabel">Balance de blancos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
          <p>Hace que los colores de la imagen se vean de manera natural sin que se vean afectados por el color
          de una fuente de luz principal. Las diferentes fuentes de luz (sol, bombilla, neón, sombra) tienen
              diferentes temperaturas de color, es decir, tonalidades que afectan cómo se ven los colores en la foto.</p>
          <ul>
              <li>La luz de sol directa es más cálida (amarilla)</li>
              <li>La luz en sombras suele ser más fría (azulada)</li>
              <li>La luz fluorescente puede llegar a verse verdosa</li>
          </ul>
          <p>Si no se ajusta el balance de blancos, la foto puede salir con un tono raro.</p>
          <p>En la cámara, encontrará varias opciones de balance blancos:</p>
          <ul>
              <li><strong>Balance de blancos automático (AWB): </strong>La cámara ajusta de manera automática la mejor
              configuración de balance de blancos</li>
              <li><strong>Balance de blancos semiautomático: </strong>La cámara incluye modos predeterminados con
              diferentes temperaturas de color</li>
              <li><strong>Balance de blancos automático personalizado: </strong>Permite ajustarlo manualmente creando un
              balance de blancos personalizado</li>
          </ul>
          <p>Este concepto está relacionado con la temperatura del color, su medición es en <strong>"Kelvin" o "K".</strong>
          Entre más grande sea el número K, más frío será el color.</p>
          <a href="https://youtu.be/GBDlNxIqqmI?feature=shared" target="_blank">Aprende más sobre balance de blancos</a>
          <img src="/images/photographic_images/balance-de-blancos.jpg" class="img-fluid rounded mb-3" alt="ejemplo-balance">
      </div>
    </div>

    <button class="btn-minimal" type="button" data-bs-toggle="offcanvas" data-bs-target="#Composición" aria-controls="Composición">Composición</button>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="Composición" aria-labelledby="ComposiciónLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="ComposiciónLabel">Composición</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
          <p>Es la forma en que se organiza los elementos dentro del encuadre (lo que se incluye, dónde se coloca, qué se
              deja fuera). Una buena composición guía la mirada del espectador y refuerza el mensaje de la foto. Se dividen en reglas y técnicas: </p>
          <ul>
              <li><strong>Regla de los tercios: </strong>Es una cuadrícula de 3x3 y se basa situar un punto de interés en las
              intersecciones de la cuadrícula.</li>
              <li><strong>El espacio negativo: </strong>Se compone por tener un fondo plano con el objetivo de destacar el sujeto.</li>
              <li><strong>Encuadres: </strong>Existen diferentes encuadres como el plano general, el plano entero, el plano detalle, etc</li>
              <li><strong>Ángulo de la toma: </strong>Existen 5 ángulos para una toma y son: cenital, picado, normal, contrapicado y nadir</li>
              <li><strong>La repetición: </strong>Se basa en capturar formas repetidas y ordenadas.</li>
          </ul>
          <a href="https://youtu.be/Cu9ocpe0SrY?feature=shared" target="_blank">Aprende más sobre la composición</a>
          <img src="/images/photographic_images/composición.jpg" class="img-fluid rounded mb-3" alt="ejemplo-linealidad">
      </div>
    </div>


</section>

<section id="noticia" style="width: 100%;">
    <h2 class="info-title"> Noticias </h2>
    <div class="container">
        <p>
            La fotografía, aunque es una forma de arte más reciente que otras como la pintura o la literatura, ha tenido
            un gran impacto en la sociedad desde que fue inventada a finales del siglo XIX. No solo se usa con fines
            artísticos, sino también para conservar momentos importantes de la historia y mostrarnos cómo eran distintas
            épocas.
        </p>
       <p> Hoy, en un mundo donde la tecnología y la conexión están en todas partes, la fotografía sigue siendo muy
           importante. Además, se relaciona con otros medios como el cine, la prensa, la radio y la televisión,
           ayudando a comunicar ideas, contar historias y expresar emociones de forma visual.</p>
       <p> A continuación, se presenta los porcentajes de 3.000 a 6.000 encuestados aficionados a la fotografía, entre
            los 18 y 64 años, por país de julio de 2022 a junio de 2023.
        </p>
        <img src="/images/photographic_images/grafica.png" width="800" height="800" alt="gráfica de países" class="img-fluid">
        <br><i>Tomado de: Statista Consumer Insights</i>
    </div>
</section>
<hr>

<a type="button" class="btn-minimal" href="/web"> ← Regresar </a>


{% endblock %}