{% extends 'base.html' %}
{% block title %} Planeación del proyecto {% endblock %}
{% block content %}

<h2 class="info-title"> Casos de uso </h2>
<div style="text-align: center;">
    <img src="/images/photographic_images/Casos%20de%20uso.png" alt="casos-de-uso" style="width: 70%; height: 70%">
</div>
<h2 class="info-title"> Modelo de datos </h2>
<div style="text-align: center;">
    <img src="/images/photographic_images/Modelo%20de%20datos.png" alt="modelo-de-datos" >
</div>

<h2 class="info-title"> Objetivos </h2>
<div style="text-align: left; font-size: 1.2rem; width: 1000px; padding: 20px; margin: 50px auto; justify-content: center;
box-shadow: 0 0 10px #8B0000, 0 0 20px #600000, 0 0 30px #600000;" >
    <p>
        → Desarrollo de una plataforma web interactiva sobre fotografía, que combine contenido educativo con una base de datos
        consultable sobre fotógrafos y sus fotografías. <br>
        → Educar e inspirar a nuevas generaciones de fotógrafos o aficionados, fomentando una apreciación más profunda
        del arte fotográfico y su relevancia histórica y social.
    </p>
</div>
<h2 class="info-title"> Bibliografía </h2>

<div style="text-align: left; font-size: 1.2rem; width: 1000px; padding: 20px; margin: 50px auto; justify-content: center;
box-shadow: 0 0 10px #8B0000, 0 0 20px #600000, 0 0 30px #600000;" >
    <ul>
        <li>Hanns. (2018, April 17). Como hacer FOTOS de LARGA EXPOSICIÓN o DE NOCHE [Video]. YouTube. https://www.youtube.com/watch?v=4Ny_rc4aGDw</li>
        <li>Hanns. (2018, December 13). MEJORA TUS FOTOS Y VIDEOS con este simple TRUCO (composición) [Video]. YouTube. https://www.youtube.com/watch?v=Cu9ocpe0SrY</li>
        <li>Hanns. (2022, April 28). Cómo usar el BALANCE DE BLANCOS y la TEMPERATURA DE COLOR en la FOTOGRAFÍA y el VIDEO [Video]. YouTube. https://www.youtube.com/watch?v=GBDlNxIqqmI</li>
        <li>Impacto de la fotografía en la actualidad – 1819 Art Gallery. (2020, July 10). https://1819.es/impacto-de-la-fotografia-en-la-actualidad/</li>
        <li>Musso, C. (2024, January 3). 100 Grandes Fotógrafos de la Historia, ¿Los Conoces a
        Todos? Blog Del Fotógrafo. https://www.blogdelfotografo.com/100-fotografos-inspiracion/</li>
        <li>Pérez Rodríguez, M. D. (Coord.). (2013). Fotografía: (2 ed.). Editorial ICB.
            https://elibronet.ucatolica.basesdedatosezproxy.com/es/ereader/ucatolica/111345?page=1</li>
        <li>Pérez, M. (2023, September 30). Composición Fotográfica: Guía Súper Completa con Trucos y Consejos. Blog
            Del Fotógrafo. https://www.blogdelfotografo.com/consejos-trucos-composicion-fotografica/</li>
        <li>Panto. (n.d.). EL DIAFRAGMA - conceptos basicos de la fotografía. [Video]. YouTube. https://www.youtube.com/@Pantounno</li>
        <li>Panto. (2021, February 8). EL HISTOGRAMA en fotografía. ¿QUÉ ES? para que lo uso? qué representa? una herramienta clave. [Video]. YouTube. https://www.youtube.com/watch?v=m7gIituTbQk</li>
        <li>Panto. (2020, May 22). VELOCIDAD DE OBTURACION ¿cómo usarla? Tutorial de fotografía. [Video]. YouTube. https://www.youtube.com/watch?v=STjNS9YelFE</li>
        <li>Panto. (2020, May 23). ¿Qué es la sensibilidad ISO? ¿cómo usarla? El ruido en las fotografías. 📷 inicio a la fotografia. [Video]. YouTube. https://www.youtube.com/watch?v=e5JuJfwAMbA</li>
        <li>Roa, M. M. (2023, August 18). La fotografía, mi afición. Statista Daily Data. https://es.statista.com/grafico/30618/porcentaje-de-encuestados-en-paises-seleccionados-que-son-aficionados-a-la-fotografia/</li>
        <li>Zafra, D. (2023, May 25). Conceptos Básicos de la Fotografía para Principiantes. Capture the Atlas.
            https://capturetheatlas.com/es/conceptos-basicos-de-la-fotografia/#triangulo</li>
    </ul>
</div>

<hr>
<a type="button" class="btn-minimal" href="/web"> ← Regresar </a>

{% endblock %}